{% extends 'base.html' %}


{% block head %}
        <script src="/static/js/md5.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/regist.css') }}">
    <script src="/static/js/regist.js"></script>
{% endblock %}



{% block content %}

            <h3 id="top_title">注册</h3>

    <form action="/regist/" method="post">

    <div class="input-group input-group-lg input1">
  <span class="input-group-addon" id="sizing-addon1">手机号</span>
  <input type="text" class="form-control" id="phone" name="telephone" placeholder="请输入手机号码" aria-describedby="sizing-addon1">
</div>
    <div class="input1" id="phone-tip"></div>
<div class="input-group input-group-lg input1" >
  <span class="input-group-addon" id="sizing-addon1">账号</span>
  <input type="text" class="form-control" id="user" name="username" placeholder="请输入账号" aria-describedby="sizing-addon1">
</div>
            <div class="input1" id="user-tip"></div>

    <div class="input-group input-group-lg input1">
  <span class="input-group-addon" id="sizing-addon1">密码</span>
  <input type="password" class="form-control" id="password1" name="password" placeholder="请输入密码" aria-describedby="sizing-addon1">
</div>
            <div class="input1" id="password1-tip"></div>


        <div class="input-group input-group-lg input1">
  <span class="input-group-addon" id="sizing-addon1">确认密码</span>
  <input type="password" class="form-control" id="password2" placeholder="请再次输入密码" aria-describedby="sizing-addon1">
</div>
            <div class="input1" id="password2-tip"></div>


     <div class="input-group input-group-lg input1">
        <button type="submit" id="login" class="btn-primary btn input1 ">注册</button>
     </div>
    </form>

{% endblock %}