{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Title %}
    
    {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_main.css' %}">
    {% block extcss %}
    
    {% endblock %}

    <script type="text/javascript" charset="utf-8" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/md5.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/swiper.jquery.js' %}"></script>


    {% block linkscript %}

    {% endblock %}

</head>
<body>
<header>
    {% block header %}

    {% endblock %}
</header>



    {% block base %}

    {% endblock base %}


<footer>

    <a class="home" href="{% url 'AXF:home' %}">
        <dl>
            <dt><span></span></dt>
            <dd>主页</dd>
        </dl>
    </a>
     <a class="market" href="/axf/market/104749/0/0">
        <dl>
            <dt><span></span></dt>
            <dd>闪送超市</dd>
        </dl>
    </a>
     <a class="cart" href="{% url 'AXF:cart' %}">
        <dl>
            <dt><span></span></dt>
            <dd>购物车</dd>
        </dl>
    </a>
     <a class="mine" href="{% url 'AXF:mine' %}">
        <dl>
            <dt><span></span></dt>
            <dd>我的</dd>
        </dl>
    </a>
</footer>


</body>

</html>