{% extends 'axf/base.html' %}
{% load static %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'app/mine/mine.css' %}">
{% endblock %}



{% block Title %}
     我的
{% endblock %}

{% block header %}
    <div style="margin: auto">我的</div>
{% endblock %}


{% block base %}
 <div id="mine">


        <div class="fixed">

            {% if user %}
                    <img src="{% static '/uploads/'   %}{{ user.userImg }}" alt="">
                                    <a href="">{{ user.userAccount }}</a>

                {% else %}
                <span class="glyphicon glyphicon-user"></span>
                <a href="/axf/login/">登录</a>

    {% endif %}



            <p>
                <span class="glyphicon glyphicon-fire"></span>
                <span>等级</span>
            </p>

            <div id="regis">
                <a href="/axf/register/">注册</a>
            </div>

            <p>
                <span class="glyphicon glyphicon-heart"></span>
                <span>收藏</span>
            </p>
        </div>


        <div class="mine mine2">

            <p><span>我的订单<a href="#">更多&gt;</a></span></p>

            <div id="nav">
                <ul>
                    <li>
                        <a href="/axf/orderunpay/">
                            <dl>
                                <dt><span class="glyphicon glyphicon-usd"></span></dt>
                                <dd>待付款</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <a href="/axf/orderunreceive/">
                            <dl>
                                <dt><span class="glyphicon glyphicon-envelope"></span></dt>
                                <dd>待收货</dd>
                            </dl>
                        </a>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-pencil"></span></dt>
                            <dd>待评价</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-retweet"></span></dt>
                            <dd>退款/售后</dd>
                        </dl>
                    </li>
                </ul>
            </div>

            <menu>
                <ul>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-envelope"></span></dt>
                            <dd>积分商城</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-credit-card"></span></dt>
                            <dd>优惠券</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-import"></span></dt>
                            <dd>收货地址</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-phone-alt"></span></dt>
                            <dd>客户反馈</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-certificate"></span></dt>
                            <dd>关于我们</dd>
                        </dl>
                    </li>


                </ul>
            </menu>
                {% if user %}


            <p style="margin-bottom: 1.5rem">
                    <a href="/axf/logout/">退出</a>
                </p>
                {% endif %}

        </div>

    </div>
{% endblock base %}