
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>{% block title %}爱鲜蜂{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}">
    {% block  extcss %}
    {% endblock %}



</head>
<body>
{% block header %}
{% endblock %}

{% block content %}
{% endblock %}


{% block footer %}
{% endblock %}

<script   src = "{% static 'js/jquery.js' %}"></script>
<script   src = "{% static 'js/bootstrap.js' %}"></script>
<script   src = "{% static 'js/md5.js' %}"></script>
<script   src = "{% static 'js/swiper.jquery.js' %}"></script>
<script   src = "{% static 'js/base.js' %}"></script>

{% block extjs %}
{% endblock %}

</body>
</html>
