{% extends 'base.html' %}
{% load static %}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'css/base_main.css' %}">

{% endblock %}

{% block  header %}
    <header>
    </header>
{% endblock %}


{% block footer %}
    <footer>
        <a href="{% url 'AXF:home' %}" class="home">
            <dl>
                <dt><span></span></dt>
                <dd>首页</dd>
            </dl>
        </a>
        <a href="/axf/market/104749/0/0" class="market">
            <dl>
                <dt><span></span></dt>
                <dd>闪购</dd>
            </dl>
        </a>
        <a href="{% url 'AXF:cart' %}" class="cart">
            <dl>
                <dt><span></span></dt>
                <dd>购物车</dd>
            </dl>
        </a>
        <a href="{% url 'AXF:mine' %}" class="mine">
            <dl>
                <dt><span></span></dt>
                <dd>我的</dd>
            </dl>
        </a>



    </footer>
{% endblock %}